.navbar{
    margin-left:450px;
    display:flex;
    flex-direction: row;
    align-items:center;
    /* justify-content: center; */
    border:2px;
    border-color: black;
    border-style:solid;
    border-radius:15px;
    background-color: lightseagreen;
    width : 100vh;

}

.log{
    margin-left:15px;
    color:white;
    font-weight: bold;

}

.icons{
    margin-left:450px;
    position:relative;
}

.counter{
    position: absolute;
    top: 0px;
    left:10px;
   
    border-radius: 100%;
    color:white;
    font-weight: bold;
}

