.container{
  
  display:flex;
  flex-direction:row;
  /* align-items: center; */
  /* justify-content: center; */
  /* border-color: blue;
  border:2px;   */
  
}

.login{
  height:50vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

input {
  width:50%;
  padding:10px;
  margin-bottom: 20px;
}

button{
  width:60%;
  padding: 10px;
  background-color: lightseagreen;
  color:white;
  border:none;
  border-radius : 5px;
  cursor: pointer;
}

.username{
  font-weight:bold;
  position:absolute;
  color:lightseagreen;
  top:15px;
  right:20px;
}